html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Quicksand';
  font-weight: 400;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}
