html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

.dropdown-menu {
  position: absolute;
  top: 80px;
  width: 270px;
  padding: 0px;
  height: 0;
  overflow: hidden;
  border-top: 0px solid $primary;
  background-color: $white;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  z-index: 1;
  transition: all 0.3s;
  &__big {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    right: -645px;
  }
}

.dropdown-box {
  position: relative;
  &:hover {
    .dropdown-menu {
      padding: 15px;
      border-width: 1px;
      height: auto;
      overflow: auto;
    }
  }    
}

.dropdown-list {
  text-transform: none;
  font-size: 15px;
  &__text {
    padding: 20px 15px;
    border-bottom: 1px solid #e8ebf0;
    font-weight: 500;
    font-size: 16px;
    color: $black;
  }
  &__column {
    display: flex;
    justify-content: space-between;
  }
}

.dropdown-link {
  display: block;
  padding: 15px;
  color: #54667a;
  &:hover {
    background-color: $primary;
    border-radius: 4px;
    padding: 15px;
    color: $white;
  }
}

.title-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: $white;
  min-height: 110px;
}

.title {
  width: 100%;
  padding: 30px 150px 35px 30px;
  background-color: #ffffff;
  font-size: 30px;
  color: $black;
}

.product {
  background-color: $white;
  display: flex;
  border-radius: 4px;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);

  &__img {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-btn {
      display: none;
    }
    &-link {
      margin-left: 10px;
      padding: 10px 30px;
      border: 1px solid $white;
      border-radius: 24px;
      font-size: 15px;
      font-weight: 500;
      color: $white;
      &:hover {
        color: $primary;
        background-color: $white;
      }
    }    
  }

  &__content {
    background-color: $white;
  }

  &__title {
    font-weight: 500;
    color: $black;
  }

  &__author {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;

    &-link {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: $black;
    } 
  }

  &__type {
    &-link {
      display: flex;
      align-items: center;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-img {
      display: inline-block;
    }
  
    &-name {
      margin-left: 9px;
      font-size: 15px;
      color: #7347c1;
    }
  }  
  
  &__text {
    font-size: 16px;
    line-height: 30px;
    color: $text;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  
    &-price {
      padding: 7px 18px;
      border-radius: 24px;
      font-weight: 500;
    }
  
    &-like,
    &-buy {
      font-family: 'Linearicons-Free';
      font-weight: 400;
      &-text {
        font-family: 'Quicksand', sans-serif;
      }
    }
  
    &-like {
      color: #7c53c5;
      &-text {
        margin-left: 5px;
        color: $text;
      }
    }
  
    &-buy {
      color: $primary;
      &-text {
        margin-left: 3px;
      }    
    }
  }
} 