$primary: #0674ec;
$white: #ffffff;
$black: #000000;
$red: #ff6a6c;
$green: #62d03b;

$header-bg: #eef1f3;
$header-text: #333333;
$header-search: #898f96;

$description-primary: #010101;
$description-secondary: #555555;

$weekly-product-bg: #eff1f5;



$text: #555555;
$blue: #0674ec;
$bg: #eef1f3;
$hover: rgba(6, 116, 236, 0.3);


