@import 'vars';
@import 'global';


// start header
.header__top-inner {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  align-items: center;
}

.header__logo {
  margin-left: 7px;
}

.header {
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    display: inline-block;
    background-color: $blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    padding: 4px 19px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    transition: color 0.3s ease-in;
  }
  &__user {
    display: flex;
    align-items: center;
    line-height: 22px;
    .avatar--header {
      margin-right: 22px;
      width: 50px;
      height: 50px;
    }
  }
  &__user-name {
    font-weight: 500;
    color: #333333;
    font-size: 16px;
    transition: color 0.3s ease-in;
  }
  &__user-price {
    color: $blue;
    font-size: 15px;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.menu__list {
  text-transform: uppercase;
  font-weight: 500;
  
  li {
    display: inline-block;
    transition: color 1s ease-in;
    & + li {
      margin-left: 30px;
    }
  } 
  a {
    font-weight: 500;
    font-size: 15px;
    color: #333333;
  }
}

.header__search {
  max-width: 360px;
  width: 100%;
  position: relative;
}

.header__search-input {
    display: block;
    border: 1px solid #d9dfe5;
    border-radius: 24px;
    width: 100%;
    height: 44px;
    padding-left: 25px;
    padding-right: 70px;    
    font-size: 15px;
    &::placeholder {
      color: #898f96;
    }
}

.header__search-btn {
    position: absolute;
    border: none;
    border-radius: 24px;
    padding: 22px 30px;
    background-color: $blue;
    background-image: url(../images/header/search.png);
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    transition: transform 0.5s ease-in;
}

.header__search-btn:hover {
  transform: scale(1.2);
}


// end header
// start search-product
.search-product{
  max-height: 725px;
  &__inner {
    padding: 170px 0px 120px;
    color: #f3f3f8;
    text-align: center;
  }
  &__title {
    margin-bottom: 35px;
    font-size: 60px;
    line-height: 70px;
    span {
      display: block;
      font-weight: 700;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 70px;
  }
  &__link {
    font-size: 16px;
    margin-bottom: 167px;
  }
  &__all {
    display: inline-block;
    margin-right: 30px;
    padding: 18px 33px;
    border-radius: 27px;
    background-color: #ffffff;
    color: $blue;
    transition: color 0.3s ease-in;
  }
  &__all:hover,
  &__popular:hover {
    background-color: $blue;
    color: #ffffff;
  }
  &__popular {
    display: inline-block;
    margin-right: 30px;
    padding: 18px 33px;
    border: 1px solid #ffffff;
    border-radius: 27px;
    background-color: transparent;
    color: #ffffff;
    transition: color 0.3s ease-in;
  }
  &__form {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    min-height: 135px;
    padding: 40px;
  }
  &__input {
    position: absolute;
    left: 40px;
    max-width: 807px;
    width: 100%;
    min-height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-left: 25px;
  }
  &__categories {
    position: absolute;
    display: inline-block;
    max-width: 194px;
    width: 100%;
    padding: 17px 20px 14px;
    border-left: 1px solid #dcdcdc;
    min-height: 55px;
    top: 40px;
    right: 293px;
    font-size: 16px;
    text-align: left;
    a {
      color: $text;
    }
  }

  &__categories::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 24px;
    max-width: 13px;
    width: 100%;
    min-height: 8px;
    background-image: url(../images/search-product/chevron-down.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  &__btn {
    display: inline-block;
    position: absolute;
    right: 40px;
    max-width: 223px;
    width: 100%;
    min-height: 55px;
    background-color: $blue;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    transition: color 0.3s ease-in;
  }
}

.search-product__wrapper {
  position: relative;
}

.search-product__item {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.item--opacity-2,
.item--opacity-3 {
  background-color: rgba(255, 255, 255, 0.5);  
  border-radius: 6px;
  min-height: 135px;
}

.item--opacity-1 {
  z-index: 3;
}

.item--opacity-2 {
  top: -16px;
  max-width: 1110px;
  z-index: 2;
}

.item--opacity-3 {
  top: -32px;
  max-width: 1080px;
  z-index: 1;
}


// end search-product
// start description

.description {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 710px;
    background-color: #ffffff;
  }
  &__item {
    max-width: 360px;
    min-height: 403px;
    padding: 40px 35px;
    text-align: center;
  }
  &__item--active,
  &__item:hover {
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &__item-image {
    width: 112px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__image--1 {
    background-image: url(../images/description/best.png);
  }
  &__image--2 {
    background-image: url(../images/description/responsive.png);
  }
  &__image--3 {
    background-image: url(../images/description/buy-sell.png);
  }    
  &__item-title {
    margin-bottom: 30px;
    font-size: 24px;
    color: #010101;
  }
  &__item-text {
    font-size: 16px;
    line-height: 30px;
    color: $text;
  }
}


// end description
// start weekly-products


.block-title-products {
  margin-bottom: 50px;
  padding: 40px 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  font-size: 30px;
  color: #000000;
}

.weekly-products {
  background-color: #eff1f5;
  padding: 120px 0;
  &__inner {
    position: relative;
  }
  &__tags {
    padding-bottom: 40px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 23px;
    .tag__item {
      margin-right: 7px;
      padding: 7px 17px;
      background-color: #f1f3f6;
      border-radius: 24px;
      font-size: 15px;
      color: #868c96;
    }
  }  
}


.product {
  &__item {
    display: flex;
    flex-wrap: nowrap;
    min-height: 450px;
    border-radius: 4px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);

  }
  &__img {
    max-width: 555px;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;    
  }
  &__content {
    max-width: 585px;
    width: 100%;
    padding: 50px 50px 20px;
    background-color: #ffffff;
  }
  &__subtitle {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
  }
  &__author {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 27px;
  }
  &__author-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #000000;
    span {
      margin-left: 10px;
    }  
  }
  &__type {
    position: relative;
    margin-left: 47px;
    font-size: 15px;
    color: #7347c1;
  }
  &__type::before {
    content: '';
    position: absolute;
    left: -24px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;     
  }
  &__type--wordpress::before {
    width: 16px;
    height: 16px;
    background-image: url(../images/products/wordpress.png);
  }
  &__type--psd::before {
    width: 13px;
    height: 17px;
    background-image: url(../images/products/psd.png);
  }
  &__type--html::before {
    width: 15px;
    height: 17px;
    background-image: url(../images/products/html.png);
  }
  &__text {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 30px;
    color: $text;
  }
  &__price {
    padding: 9px 18px;
    border-radius: 24px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background-color: $blue;
  }
}

.slick-arrow {
  width: 55px;
  height: 45px;
  border-radius: 24px;
  position: absolute;
  border: none;
  background-color: #7347c1;
  
}

.slick-prev {
  padding-right: 30px;
  top: -130px;
  right: 50px;
  transition: transform 5s ease-in;
}

.slick-next {
  padding-left: 30px;
  top: -130px;
  right: 30px;
}

.slick-prev img:hover,
.slick-next img:hover {
  transform: scale(1.5);
}



// end weekly-products
// start release-products
.release-products {
  background-color: #f6f7fb;
  padding: 120px 0;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    margin-bottom: 30px;
    position: relative;
  }
  &__title {
    font-size: 30px;
  }
  &__filter {
    margin-right: 15px;
    font-size: 16px;
    color: #747b86;
  }
  &__filter::after {
    content: '';
    position: absolute;
    right: 30px;
    background-image: url(../images/products/filter.svg);
    width: 5px;
    height: 20px;
  }
  &__inner-btn {
    padding: 27px;
    text-align: center;
    margin-bottom: 50px;
  }
}

.sort-btn {
  margin-right: 7px;
  padding: 7px 17px;
  border: none;
  background-color: #f1f3f6;
  border-radius: 24px;
  font-size: 15px;
  color: #747b86;
} 

.sort-btn--active,
.sort-btn:hover {
  background-color: $blue;
  color: #ffffff;
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item--release-size {
  flex-wrap: wrap;
  margin-bottom: 30px;
  max-width: 361px;
  width: 100%;
  background-color: #ffffff;
}

.product__img--release-size {
  min-height: 230px;
}

.product__content--release-size {
  min-height: 238px;
  padding: 14px 40px 30px 29px;
  border-bottom: 1px solid #ececec;
}

.product__text--release-size {
  margin: 0;
}

.product__info--release-size {
  min-height: 61px;
  padding: 13px 30px;
}

.product__price--release-size {
  background-color: #e6f1fd;
  color: $blue;
}

.products__bottom-btn {
  text-align: center;
  margin-top: 30px;
  button {
    border: none;
    background-color: $blue;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    color: #ffffff;
  }
}


// end release-products

.btn-hover:hover {
  cursor: pointer;
  background-color: $hover;
  color: $blue;
}

.link-hover:hover {
  color: $blue;
}

.slick-arrow:focus,
.outline-none {
  outline: none;
}